

.navBar {
    display: inline-flex;
    max-width: 1000px;
}

.navTitle {
    margin-block-start: 20px;
    margin-block-end: 0;
}

.headerMenu {
    float: right;
    font-size: x-large;
    margin-block-start: 30px;

}

.headerMenu li {
    list-style: none;
    display: inline;
    margin: 10px;
}
